<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

    <title>Hacktoberfest by oslugr</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>Hacktoberfest</h1>
        <h2>Lista de proyectos de la UGR que participan en hacktoberfest</h2>

        <section id="downloads">
          <a href="https://github.com/oslugr/hacktoberfest/zipball/master" class="btn">Download as .zip</a>
          <a href="https://github.com/oslugr/hacktoberfest/tarball/master" class="btn">Download as .tar.gz</a>
          <a href="https://github.com/oslugr/hacktoberfest" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">{{content}}</section>
    </div>

    
  </body>
</html>
